/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        'admin-navy': '#0f172a',
        'admin-blue': '#0a66c2',
      }
    },
  },
  plugins: [],
}